# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

eslint.config.js

src/TextContent.jsx

svg-inject.js

jest.config.cjs
jest.setup.js
babel.config.cjs
jsconfig.json
_mocks_

.eslintrc.js
.eslintignore

settings.json