@import 'functions.scss';
@import 'modal.scss';
@import 'game-start.scss';
@import 'game-board.scss';

/* base */
* {
    box-sizing: border-box;
    @include font;
}

body {
    @include display-flex(initial, center, center, 1.5rem);
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $dark-navy;
    position: relative;
}

#game {
    @include display-flex(column, center, center, 2.5rem);
}

button {
    cursor: pointer;
}