

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.game-tile {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
}